@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<body style="background: url('https://a0.anyrgb.com/pngimg/628/1762/real-estate-publicity-background-meeting-background-panel-background-promotional-panels-dazzle-light-starry-sky-effect-elements-passion-starlight-atmosphere-of-earth.png') no-repeat center center; background-size: cover; height: 100%; width: 100%;">

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger text-center">You do not have access to this resource.</p>
</header>
</body>