@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<body style="background: url('https://a0.anyrgb.com/pngimg/628/1762/real-estate-publicity-background-meeting-background-panel-background-promotional-panels-dazzle-light-starry-sky-effect-elements-passion-starlight-atmosphere-of-earth.png') no-repeat center center; background-size: cover; height: 100%; width: 100%;">

<h1>@ViewData["Title"]</h1>
<p class="lead text-center">Please Head to login, your account is confirmed.</p>
</body>